/* 全体の基本スタイル */
body {
  font-family: 'Arial', sans-serif;
  background-color:  black;
  color: white;
}

/* ページ暗転時の初期状態 */
body.fade-in {
  opacity: 0;
  transition: opacity 3s ease-in-out; /* フェードインの時間を調整 */
}

/* ページが完全に表示される状態 */
body.loaded {
  opacity: 1;
}

/*index.html以外のpageスタイル*/
.non-home{
  margin-top: 60px;
}

.non-header-link{
  text-decoration: underline;
  display: inline;
  color: steelblue;
}
/* 共通フッター */
footer{
  margin: 100px 0px 0px 0px;
  padding: 30px 0px 0px 0px;
  border-top:3px solid gray;
  width: 100%;
}

footer .footer_address_infomation p {
  /* スタイルをここに記述 */
  font-size: 1.3vw;
}


.social-link {
  text-decoration: none; /* 下線を消す */
  color: inherit; /* 親要素の色を継承する */
}

.social-link :hover {
  color: #b09d9dcd; /* Twitterカラーに変更 */
}

.social-links{
  border: 2px solid white;
}

/* モバイルスタイル */
@media (max-width: 650px) {
  body{
    /* padding-top: 0vw;
    padding-left: 0vw; */
    padding: 0;
    margin:0vw 0vw 0vw 0vw;
  }
  
}

