/* 全体の基本スタイル */
body {
  font-family: 'Arial', sans-serif;
  background-color:  black;
  color: white;
}

/* ライトモードのスタイル */
body.light-mode {
  background-color: white;
  color: black;
}

/* ページ暗転時の初期状態 */
body.fade-in {
  opacity: 0;
  transition: opacity 3s ease-in-out; /* フェードインの時間を調整 */
}

/* ページが完全に表示される状態 */
body.loaded {
  opacity: 1;
}

.non-header-link{
  text-decoration: underline;
  display: inline;
  color: steelblue;
}
/* 共通フッター */
footer{
  margin: 70px 0px 0px 0px;
  padding: 30px 0px 0px 0px;
  border-top:3px solid gray;
  width: 100%;
}

footer .footer_address_infomation p {
  /* スタイルをここに記述 */
  font-size: 1.5vw;
  margin-bottom: 2vw;
}




.social-link {
  text-decoration: none; /* 下線を消す */
  color: inherit; /* 親要素の色を継承する */
}

.social-link :hover {
  color: #b09d9dcd; /* Twitterカラーに変更 */
}

.social-links{
  justify-content: center; /* 水平方向に中央寄せ */
  align-items: center; /* 必要なら垂直方向にも中央揃え */
  width: 100%; /* 幅を100%に設定 */
  padding-bottom: 2vw;
  display: flex; /* フレックスボックスを有効化 */
  gap: 20px;
}

.footer_section1{
  display: flex;
  justify-content: flex-start; /* 子要素を左寄せ */
  width: 100%;
}

.footer_navigations{
  display: flex; /* フレックスボックスを有効化 */
  justify-content: center; /* 水平方向に中央寄せ */
  align-items: center; /* 垂直方向に中央寄せ */
  gap: 1vw; /* 各リンク間の間隔 */
  height: 100%; /* 必要に応じて高さを指定 */
  width: 50%;
  font-size: 1.7vw;
}

p{
  margin-bottom: 0;
}

/* lightmode  and darkmode*/
.themes_content {
  transform: scale(0.4);
  position: fixed;
  margin-left: 9vw;
  margin-top: 5vw;
}

/* モバイルスタイル */
@media (max-width: 650px) {
  body{
    /* padding-top: 0vw;
    padding-left: 0vw; */
    padding: 0;
    margin:0vw 0vw 0vw 0vw;
  }
  footer .footer_address_infomation p{
    font-size: 2.5vw;
  }
}

