/* 全体の基本スタイル */
body {
  font-family: 'Arial', sans-serif;  
  padding-top: 2.0vw;
  padding-left: 3.5vw;
  margin-right: 3.5vw;
  background-color:  black;
  color: grey;
  /* ヘッダー */
}
/* ページ暗転時の初期状態 */
body.fade-in {
  opacity: 0;
  transition: opacity 3s ease-in-out; /* フェードインの時間を調整 */
}

/* ページが完全に表示される状態 */
body.loaded {
  opacity: 1;
}


/* モバイルスタイル */
@media (max-width: 650px) {
  body{
    /* padding-top: 0vw;
    padding-left: 0vw; */
    padding: 0;
    margin:11vw 0vw 0vw 0vw;
  }
}