/* 基本スタイル */
.home_title {
  padding-left: 4vw;
  padding-top: 5vw;
  padding-bottom: 6vw;
    /*背景画像指定*/
  height: 50vw;  /* image_palce */
  background-image: url("../assets/pictures/home/home_image.jpg");
  background-repeat: no-repeat; /* 繰り返しを防ぐ */
  background-size: cover; /* 全体にフィット */
  background-position: center; /* 中央に配置 */
  
}
.sp {
  display: none;
}
.we-are {
  font-size: 8vw;
  font-weight: bold;
  color: #d4d1d1f5;
  position: relative;
  margin: 0;
  padding-bottom: 0.1vw;
}

.embodiment-of-technology {
  font-size: 5.65vw;
  font-weight: normal;
  color: #d4d1d1f5;
  position: relative;
  margin-left: 3vw;
}

/* 線のベーススタイル */
.we-are::before,
.we-are::after,
.embodiment-of-technology::before,
.embodiment-of-technology::after,
.technology::before, 
.technology::after{
  content: '';
  display: block;
  position: absolute;
  height: 1.2vw;/* 線の高さ */
  /* left: 0;  */
  /* 左側を固定 */
  width: 0; /* 初期幅 */
}

.we-are::before {
  bottom: 0.35vw;
  background-color: white;
}

.we-are::after {
  bottom: -0.1vw;
  background-color: red;
  margin-left: 1vw;
}

.embodiment-of-technology::before {
  bottom: -0.2vw;
  background-color: white;
}

.embodiment-of-technology::after {
  bottom: -0.7vw;
  background-color: red;
  margin-left: 1vw;
}
.technology::before {
  bottom: 0.35vw;
  background-color: white;
}

.technology::after {
  bottom: -0.1vw;
  background-color: red;
  margin-left: 1vw;
}
/* アニメーション */
@keyframes slideIn {
  from {
    width: 0; /* 線を最初は非表示 */
  }
  to {
    width: var(--line-width); /* カスタムプロパティで幅を制御 */
  }
}

/* アニメーション適用 */
.we-are::before {
  --line-width: 26vw; /* 白い線の最大幅 */
  animation: slideIn 1.5s ease-out forwards;
}

.we-are::after {
  --line-width: 26.5vw; /* 赤い線の最大幅 */
  animation: slideIn 1.8s ease-out forwards;
}

.embodiment-of-technology::before {
  --line-width: 76.5vw; /* 白い線の最大幅 */
  animation: slideIn 2s ease-out forwards;
}

.embodiment-of-technology::after {
  --line-width: 76.5vw;; /* 赤い線の最大幅 */
  animation: slideIn 2.3s ease-out forwards;
}


/* home description styles */

.home_content{
  padding-left: 3.5vw;
  padding-right: 3.5vw;
}
.home_description_title {
  width: 100%;
  margin-bottom: 2vw;
  margin-top: 2vw;
  position: relative;
  text-align: center;
  color: #d4d1d1f5;
  font-weight: 700; /**/
  font-size: 8vw;
}

.home_description_content{
  font-size: 2vw;
}

/* home topic styles */
  .home_topics{
    margin-top: 10vw;
  }

  .home_topic_content{
    width : 95%;
    margin-bottom: 15px;
  }
  
  .home_topic_time{
    margin-bottom: 0.2vw;
    font-size: 1.4vw;
    color: gray;
  }

  .home_topic_description{
    font-size: 1.5vw;
    border-bottom: 1px solid white;
  }
  .home_topic_description.light-mode {
    border-bottom: 1px solid black;
  }


/* home helpus styles */
  .home_helpus {
    margin-top: 10vw;
  }
/* モバイルスタイル */
@media (max-width: 650px) {
  .pc {
    display: none;
  }
  .sp {
    display: block;
    padding-top: 70px;
    height: 80vh;
  }
  .home_title{
    padding-top: 64px;
    height: 80vh;
  }
  .home_description_title{
    font-size: 12vw;
  }
  .home_description_content{
    font-size: 15px;
  }
  .home_topic_description {
    font-size: 12px;
  }
  .home_topic_time {
    margin-bottom: 0.2vw;
    font-size: 12px;
    color: gray;
  }

  .social-links i {
    font-size: 1.5em; /* fa-1.5x 相当  emは*/
  }
  footer .footer_address_infomation p {
    font-size: 2.4vw;
  }

  .technology {
    font-size: 8vw;
    color: rgba(212, 209, 209, 0.96);
    position: relative;
    margin-left: 48vw;
    font-weight: bold;
  }

  .technology::before {
    --line-width: 44vw;
    animation: 1.5s ease-out 0s 1 normal forwards running slideIn;
  }
  
  .technology::after {
    --line-width: 45vw;
    animation: 1.8s ease-out 0s 1 normal forwards running slideIn;
  }
  .we-are {
    font-size: 8vw;
  }
  .embodiment-of-technology {
    padding-top: 5px;
    font-weight: bold;
    font-size: 8vw;
    margin-left: 9vw;
  }
  .embodiment-of-technology::before {
    --line-width: 73vw;
  }
  .embodiment-of-technology::after {
    --line-width: 74vw;
  }
}