/* 基本スタイル */
.home_title {
  margin-left: 4vw;
  margin-top: 2vw;
  margin-bottom: 6vw;
  height: 35vw; /* image_palce */
}

.we-are {
  font-size: 8vw;
  font-weight: bold;
  color: #333;
  position: relative;
  margin: 0;
  padding-bottom: 0.1vw;
}

.embodiment-of-technology {
  font-size: 5.65vw;
  font-weight: normal;
  color: #555;
  position: relative;
  margin-left: 3vw;
}

/* 線のベーススタイル */
.we-are::before,
.we-are::after,
.embodiment-of-technology::before,
.embodiment-of-technology::after {
  content: '';
  display: block;
  position: absolute;
  height: 1.2vw;/* 線の高さ */
  /* left: 0;  */
  /* 左側を固定 */
  width: 0; /* 初期幅 */
}

.we-are::before {
  bottom: 0.35vw;
  background-color: white;
}

.we-are::after {
  bottom: -0.1vw;
  background-color: red;
  margin-left: 1vw;
}

.embodiment-of-technology::before {
  bottom: -0.2vw;
  background-color: white;
}

.embodiment-of-technology::after {
  bottom: -0.7vw;
  background-color: red;
  margin-left: 1vw;
}

/* アニメーション */
@keyframes slideIn {
  from {
    width: 0; /* 線を最初は非表示 */
  }
  to {
    width: var(--line-width); /* カスタムプロパティで幅を制御 */
  }
}

/* アニメーション適用 */
.we-are::before {
  --line-width: 26vw; /* 白い線の最大幅 */
  animation: slideIn 1.5s ease-out forwards;
}

.we-are::after {
  --line-width: 26.5vw; /* 赤い線の最大幅 */
  animation: slideIn 1.8s ease-out forwards;
}

.embodiment-of-technology::before {
  --line-width: 76.5vw; /* 白い線の最大幅 */
  animation: slideIn 2s ease-out forwards;
}

.embodiment-of-technology::after {
  --line-width: 76.5vw;; /* 赤い線の最大幅 */
  animation: slideIn 2.3s ease-out forwards;
}


/* home description styles */

.home_description_title {
  width: 100%;
  position: relative;
  text-align: center;
  color: #6f6f6f;
  font-weight: 700; /**/
  font-size: 9vw;
}


/* モバイルスタイル */
@media (max-width: 650px) {
  .home_title{
    margin-top: 64px;
  }
}