.seminar_body_content {
  padding-left: 17vw;
  padding-right: 17vw;
}

/* 基本スタイル */
.seminar_title {
  padding-left: 4vw;
  padding-top: 5vw;
  padding-bottom: 6vw;
  position: relative;
  width: 100%;
  aspect-ratio: 4 / 3;
  overflow: hidden;
}

/* 背景画像として使うimg */
.seminar_image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: 0;
}

/* テキストを上に重ねる */
.seminar_text {
  position: absolute;
  top: 40%;
  color: white;
  text-align: left;
  z-index: 1;
  font-size: 7vw;
  font-weight: bold;
}

.seminar_content {
  margin-bottom: 90px;
}

.seminar_description_title {
  width: 100%;
  margin: 45px 0px 45px 0px;
  text-align: center;
  color: #d4d1d1f5;
  font-weight: 700;
  font-size: 6vw;
}

.seminar_description_title.light-mode {
  color: black;
}

.seminar_description_content {
  font-size: 1.5vw;
}

/* seminar_Topics */
.seminar_Topics {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

/*width変更による意図しない改行防止。*/
.seminar_Topics_event_summary,
.seminar_event_day_title,
.seminar_Content_event_title {
  white-space: nowrap;
}

.seminar_Topics_Contents,
.seminar_Topics_event_pictures {
  flex: 1 1 48%;
  min-width: 300px;
  box-sizing: border-box;
  padding: 1rem;
}

.seminar_Content_event_description_h2 {
  display: inline-block;
  margin-left: 2vw;
}

/* 画像が親に合わせて収まるようにする */
.seminar_Topics_event_pictures img {
  width: 100%;
  height: auto;
  display: block;
}

/* seminar_Topics_picture1 */
.seminar_Topics_picture1 {
  box-shadow: 2vw 2vw 1vw 0vw #9a9a9a;
}

.seminar_Topics_picture1.light-mode {
  box-shadow: 2vw 2vw 1vw 0vw #343a40;
}

.seminar_event_day_title,
.seminar_Content_event_title {
  font-size: 2vw;
}

.seminar_event_day_description,
.seminar_Content_event_description {
  font-size: 2vw;
  margin-left: 4vw;
}

.seminar_Content_event_description,
.seminar_Content_event_description_h2 {
  line-height: 1.6;
}

/* モバイルスタイル */
@media (max-width: 650px) {
  .seminar_body_content {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .seminar_title,
  .seminar_image {
    height: 100vh;
  }

  .seminar_text {
    top: 22%;
    font-size: 15vw;
  }

  .seminar_description_title {
    font-size: 12vw;
  }

  .seminar_description_content {
    font-size: 15px;
    line-height: 30px;
  }

  /* 横並び解除 */
  .seminar_Topics {
    flex-direction: column;
  }

  /* 画像の影をなくす */
  .seminar_Topics_event_pictures {
    box-shadow: none;
  }

  .seminar_event_day_title,
  .seminar_Content_event_title {
    font-size: 5vw;
  }

  .seminar_event_day_description,
  .seminar_Content_event_description {
    font-size: 4vw;
  }

  /*--　改行解除　--*/
  .seminar_Topics_event_summary,
  .seminar_event_day_title,
  .seminar_Content_event_title {
    white-space: normal;
  }
}
