.suponsor_header {
  /* 背景画像指定 */
  height: 50vw; /* image_palce */
  background-image: url("../assets/pictures/sponsor/cansat_everyone.jpg");
  background-repeat: no-repeat; /* 繰り返しを防ぐ */
  background-size: cover; /* 全体にフィット */
  background-position: center; /* 中央に配置 */

  /* 中央寄せのためのフレックスボックス */
  display: flex; /* フレックスボックスを有効化 */
  justify-content: center; /* 水平方向に中央寄せ */
  align-items: center; /* 垂直方向に中央寄せ */
}

.suponsor_content{
  padding-left: 3.5vw;
  padding-right: 3.5vw;
}
.suponsor_title {
  /* テキストスタイル */
  text-align: center;
  font-size: 4vw;
  font-weight: bold;
  color: white; 
}

.suponsor_description_title{
  width: 100%;
  margin-bottom: 2vw;
  margin-top: 2vw;
  position: relative;
  text-align: center;
  color: #d4d1d1f5;
  font-weight: 700; /**/
  font-size: 5vw;
}

.suponsor_description_content{
  font-size: 1.7vw;
}

/*支援物*/
.suponsor_provide {
  /* ボーダーの設定（上下のみ表示） */
  width: 50%;
  border-top: 0.3vw solid white; /* 上のボーダー */
  border-bottom: 0.3vw solid white; /* 下のボーダー */
  border-left: none; /* 左のボーダーを消す */
  border-right: none; /* 右のボーダーを消す */
  /* 上下余白 */
  margin: 3vw 0vw 3vw 2vw;
  padding: 0vw 0vw 1vw 0vw;
}

.suponsor_provide_content{
  font-size: 1.7vw;
  padding: 1vw 0vw 0vw 0vw;
}


/* 企業へのお礼品*/
.suponsor_corporate_gifts {
  /* ボーダーの設定（上下のみ表示） */
  width: 50%;
  border-top: 0.3vw solid white; /* 上のボーダー */
  border-bottom: 0.3vw solid white; /* 下のボーダー */
  border-left: none; /* 左のボーダーを消す */
  border-right: none; /* 右のボーダーを消す */
  /* 上下左右余白 */
  margin: 3vw 0vw 3vw 2vw;
  padding: 0vw 0vw 1vw 0vw;
}

.suponsor_corporate_gifts_content{
  font-size: 1.7vw;
  padding: 1vw 0vw 0vw 0vw;
}



/* 企業問い合わせメールアドレス先*/
.suponsor_description_address{
  font-size: 1.35vw;
  padding-top: 1vw;
}

@media (max-width: 650px) {
  .suponsor_header {
      margin-top: 64px;
      height: 80vh;
  }
  .suponsor_title {
    font-size: 7vw;
  }

  .suponsor_description_title{
    font-size: 25px;
    padding: 15px 0px 10px 0px;
  }
  .suponsor_description_content{
    font-size: 15px;
  }
  
  .suponsor_provide{
    width: 80%;
    margin: 20px 0px 20px 0px;
  }
  
  .suponsor_provide_content{
    font-size: 13px;
    /* 2行目以降のインデント */
    text-indent: -1rem;
    padding-left: 1em;
  }
  
  .suponsor_corporate_gifts{
    margin: 20px 0px 20px 0px;
  }
  
  
  .suponsor_corporate_gifts_content{
    font-size: 13px;
    /* 2行目以降のインデント */
    text-indent: -1rem;
    padding-left: 1em;
  }
  
  .suponsor_corporate_gifts{
    width: 80%;
  }
  
  /* 連絡先アドレス */
  .suponsor_description_address {
    font-size: 12px;
    padding-top: 10px;
  }  
}